<fieldset>
        <legend>10. Liên hệ</legend>
        <table>
          <tr><td colspan="2"><p><b>Sử dụng chung cho tất cả trang (ngoại trừ 'page.process' và 'page.contact')</b></p></td></tr>
          <tr>
            <td><label>Hiển thị?</label></td>
            <td><input name="greenweave_show_footer_newsletter" type="checkbox"></td>
          </tr>
          <tr>
            <td><label>Chọn ảnh nền</label><p>(Kích thước: 1920x900px)</p></td>
            <td><input name="greenweave_footer_newsletter_bg.jpg" type="file"></td>
          </tr>
          <tr>
            <th><label>Màu nền form</label></th>
            <td><input name="greenweave_footer_newsletter_bg" class="color" value="#ffffff"/></td>
          </tr>
          <tr>
            <th><label>Màu chữ form</label></th>
            <td><input name="greenweave_footer_newsletter_color" class="color" value="#ffffff"/></td>
          </tr>
          <tr>
            <th><label>Màu nền nút "Đăng ký"</label></th>
            <td><input name="greenweave_footer_newsletter_bg_btn" class="color" value="#ffffff"/></td>
          </tr>
          <tr>
            <th><label>Màu chữ nút "Đăng ký"</label></th>
            <td><input name="greenweave_footer_newsletter_color_btn" class="color" value="#ffffff"/></td>
          </tr>
          <tr>
            <td><label>Tiêu đề</label></td>
            <td class="min-width-320px"><textarea name="greenweave_footer_newsletter_title" type="text"></textarea></td>
          </tr>
          <tr>
            <td><label>Mô tả</label></td>
            <td class="min-width-320px"><textarea name="greenweave_footer_newsletter_desc" type="text"></textarea></td>
          </tr>
          <tr>
            <td><label>Tiêu đề button "Đăng ký"</label></td>
            <td class="min-width-320px"><input name="greenweave_footer_newsletter_btn" type="text" /></td>
          </tr>
        </table>
      </fieldset>