<fieldset>
    <legend> 3. Header</legend>
    <p id="tabs-7-1" class=" row" style="padding:15px 0">
        <p class="col-sm-6">
            <img src="https://cdn.hstatic.net/files/200001079142/file/gw-header.jpg" width="94%" style="float: right;">
        </p>
        <p class="col-sm-6">
      <fieldset>
                <legend> Thiết lập chung</legend>
            <table>
                <tr>
                    <td><label>Màu nền </label></td>
                    <td><input class="color" name="greenweave_header_color_bkg" /></td>
                </tr>
                <tr>
                    <td><label>Màu chữ</label></td>
                    <td><input class="color" name="greenweave_header_color_text" /></td>
                </tr>    
        <tr>
                    <td><label>Màu chữ khi hover</label></td>
                    <td><input class="color" name="greenweave_header_color_text_hover" /></td>
                </tr>
        <tr><td colspan="2"><h3>Màu dropdown, sidebar</h3></td></tr>
        <tr>
                    <td><label>Màu nền </label></td>
                    <td><input class="color" name="greenweave_header_color_bkg_sb" /></td>
                </tr>
                <tr>
                    <td><label>Màu chữ</label></td>
                    <td><input class="color" name="greenweave_header_color_text_sb" /></td>
                </tr>
        <tr>
                    <td><label>Màu viền</label></td>
                    <td><input class="color" name="greenweave_header_color_border" /></td>
                </tr>
        
                <tr><td colspan="2"><h3>Tìm kiếm</h3></td></tr>
                <tr>
                    <td><label>Hiển thị?</label></td>
                    <td><input type="checkbox" name="show_greenweave_header_search" value="1" /></td>
                </tr>
                <tr><td colspan="2"><h3>Tài khoản</h3></td></tr>
                <tr>
                    <td><label>Hiển thị?</label></td>
                    <td><input type="checkbox" name="show_greenweave_header_account" value="1" /></td>
                </tr>
            </table>
      </fieldset>
      <!-- Logo - Favicon -->
            <fieldset>
                <legend>1. Logo và Favicon</legend>
                <table>
                    <tr>
                        <td colspan="2">
                            <h3>Logo</h3>
                            <p>(Kích thước hiển thị tối đa là 280x80 pixel, tự động điều chỉnh nếu file của bạn lớn hơn kích thước này.)</p>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="greenweave_use_logo">Hiển thị logo</label></th>
                        <td><input type="checkbox" id="greenweave_use_logo" name="greenweave_use_logo" value="1" /></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_logo">Chọn Logo</label></td>
                        <td><input type="file" name="greenweave_logo.png" id="greenweave_logo" />    </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>Favicon</h3>
                            <p>Biểu tượng website của bạn trên trình duyệt, kích thước chuẩn: 32x32 pixel</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="favicon">Chọn favicon</label></td>
                        <td>
                            <input type="file" name="favicon.png" id="favicon" />
                        </td>
                    </tr>
                </table>
            </fieldset>
      <!-- Main menu -->
            <fieldset>
                <legend>2. Mục Menu chính</legend>
                <table>
                    <tr>
                        <td><label for="greenweave_mainmenu_link">Chọn menu chính</label></td>
                        <td class="min-width-320px"><select name="greenweave_mainmenu_link" class="linklist" /></td>
                    </tr>
                </table>
            </fieldset>
      <fieldset>
                <legend>3. Thông tin liên hệ (desktop)</legend>
                <table>
          <tr>
                        <td>Hiển thị?</td>
                        <td><input type="checkbox"  name="greenweave_header_info_show" value="1" /></td>
                    </tr>
                    <tr>
                        <td><label>Số điện thoại</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_info_phone" /></td>
                    </tr>
                    <tr>
                        <td><label>Email</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_info_mail" /></td>
                    </tr>
                    <tr><td colspan="2"><h3>Mạng xã hội</h3></td></tr>
                    <tr>
                        <td>Hiển thị?</td>
                        <td><input type="checkbox"  name="greenweave_header_info_social_show" value="1" /></td>
                    </tr>
                    <table>
                    <tr>
                        <td><label for="greenweave_header_social_link_facebook">Link Facebook</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_social_link_facebook" id="greenweave_header_social_link_facebook"/></td>
                    </tr>    
                    <tr>
                        <td><label for="greenweave_header_social_link_youtube">Link YouTube</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_social_link_youtube" id="greenweave_header_social_link_youtube"/></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_social_link_instagram">Link Instagram</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_social_link_instagram" id="greenweave_header_social_link_instagram" /></td>
                    </tr>    
                    <tr>
                        <td><label for="greenweave_header_social_link_tiktok">Link Tiktok</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_social_link_tiktok" id="greenweave_header_social_link_tiktok"/></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_social_link_shopee">Link Shopee</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_social_link_shopee" id="greenweave_header_social_link_shopee"/></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_social_link_lazada">Link Lazada</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_social_link_lazada" id="greenweave_header_social_link_lazada"/></td>
                    </tr>
                </table>
                </table>
            </fieldset>
      <!-- Thiết lập mã khuyến mãi -->
            <fieldset>
                <legend>4. Thiết lập mã khuyến mãi (coupon)</legend>
                <table>
                    <tr class="horizontal">
                        <th><label>Chọn kiểu hiển thị</label></th>
                        <td>
                            <select name="greenweave_header_coupon_select" id="greenweave_header_coupon_select">
                                <option value="couponView1">Kiểu hiển thị 1</option>
                                <option value="couponView2">Kiểu hiển thị 2</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <p class="row" style="padding:15px 0">
                    <p class="col-md-6" style="max-width: 330px">
                        <p>Kiểu hiển thị 1</p>
                        <img src="https://file.hstatic.net/200000515957/file/coupon-1_df8309ee35d246fb93e3a8ca10570b21.jpg" width="100%" style="float: right;">
                    </p>
                    <p class="col-md-6" style="max-width: 330px">
                        <p>Kiểu hiển thị 2</p>
                        <img src="https://file.hstatic.net/200000515957/file/coupon-2_cb62510ded0c4cd69157e836ff59ede9.jpg" width="100%" style="float: right;">
                    </p>
                </p>
                <table>
                    <tr class="horizontal">
                        <td><label for="greenweave_header_coupon_title">Tiêu đề</label></td>
                        <td class="min-width-320px"><input type="text" class="text" name="greenweave_header_coupon_title" id='greenweave_header_coupon_title'></td>
                    </tr>
                    <tr><td colspan="2"><h3>Màu sắc</h3></td></tr>
                    <tr>
                        <th><label for="greenweave_header_coupon_bg">Màu nền</label></th>
                        <td><input name="greenweave_header_coupon_bg" id="greenweave_header_coupon_bg" class="color" /></td>
                    </tr>
                    <tr>
                        <th><label for="greenweave_header_coupon_highlight">Màu nổi bật</label></th>
                        <td><input name="greenweave_header_coupon_highlight" id="greenweave_header_coupon_highlight" class="color" /></td>
                    </tr>
                    <tr>
                        <th><label for="greenweave_header_coupon_border">Màu border</label></th>
                        <td><input name="greenweave_header_coupon_border" id="greenweave_header_coupon_border" class="color" /></td>
                    </tr>
                    <tr>
                        <th><label for="greenweave_header_coupon_text">Màu chữ</label></th>
                        <td><input name="greenweave_header_coupon_text" id="greenweave_header_coupon_text" class="color" /></td>
                    </tr>
          <tr>
                        <th><label for="greenweave_header_coupon_btn_bg">Màu nền button</label></th>
                        <td><input name="greenweave_header_coupon_btn_bg" id="greenweave_header_coupon_btn_bg" class="color" /></td>
                    </tr>
          <tr>
                        <th><label for="greenweave_header_coupon_btn_color">Màu chữ button</label></th>
                        <td><input name="greenweave_header_coupon_btn_color" id="greenweave_header_coupon_btn_color" class="color" /></td>
                    </tr>
                </table>
                <table>
                    <tr><td colspan="2"><h3>Mã khuyến mãi 1</h3></td></tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_1_show">Hiển thị</label></td>
                        <td><input type="checkbox" name="greenweave_header_coupon_1_show" id="greenweave_header_coupon_1_show"></td>
                    </tr>        
                    <tr>
                        <td><label for="greenweave_header_coupon_1_img">Chọn icon</label>
                            <p>Kích thước:100x100 pixel</p>
                        </td>
                        <td><input type="file" name="greenweave_header_coupon_1_img.png" id="greenweave_header_coupon_1_img"/></td>
                    </tr>    
                    <tr>
                        <td><label for="greenweave_header_coupon_1_title">Mức giảm</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_1_title" id="greenweave_header_coupon_1_title"></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_1_text">Điều kiện</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_1_text" id="greenweave_header_coupon_1_text"></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_1_date">Hạn sử dụng</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_1_date" id="greenweave_header_coupon_1_date"></td>
                    </tr>    
                    <tr>
                        <td><label for="greenweave_header_coupon_1_code">Mã khuyến mãi</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_1_code" id="greenweave_header_coupon_1_code"></td>
                    </tr>
                </table>
                <table>
                    <tr><td colspan="2"><h3>Mã khuyến mãi 2</h3></td></tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_2_show">Hiển thị</label></td>
                        <td><input type="checkbox" name="greenweave_header_coupon_2_show" id="greenweave_header_coupon_2_show"></td>
                    </tr>    
                    <tr>
                        <td><label for="greenweave_header_coupon_2_img">Chọn icon</label>
                            <p>Kích thước:100x100 pixel</p>
                        </td>
                        <td><input type="file" name="greenweave_header_coupon_2_img.png" id="greenweave_header_coupon_2_img"/></td>
                    </tr>    
                    <tr>
                        <td><label for="greenweave_header_coupon_2_title">Mức giảm</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_2_title" id="greenweave_header_coupon_2_title"></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_2_text">Điều kiện</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_2_text" id="greenweave_header_coupon_2_text"></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_2_date">Hạn sử dụng</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_2_date" id="greenweave_header_coupon_2_date"/></td>
                    </tr>                        
                    <tr>
                        <td><label for="greenweave_header_coupon_2_code">Mã khuyến mãi</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_2_code" id="greenweave_header_coupon_2_code"></td>
                    </tr>
                </table>
                <table>
                    <tr><td colspan="2"><h3>Mã khuyến mãi 3</h3></td></tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_3_show">Hiển thị</label></td>
                        <td><input type="checkbox" name="greenweave_header_coupon_3_show" id="greenweave_header_coupon_3_show"></td>
                    </tr>                
                    <tr>
                        <td><label for="greenweave_header_coupon_3_img">Chọn icon</label>
                            <p>Kích thước:100x100 pixel</p>
                        </td>
                        <td><input type="file" name="greenweave_header_coupon_3_img.png" id="greenweave_header_coupon_3_img"/></td>
                    </tr>    
                    <tr>
                        <td><label for="greenweave_header_coupon_3_title">Mức giảm</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_3_title" id="greenweave_header_coupon_3_title"></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_3_text">Điều kiện</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_3_text" id="greenweave_header_coupon_3_text"></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_3_date"> Hạn sử dụng</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_3_date" id="greenweave_header_coupon_3_date"/></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_3_code">Mã khuyến mãi</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_3_code" id="greenweave_header_coupon_3_code"></td>
                    </tr>
                </table>
                <table>
                    <tr><td colspan="2"><h3>Mã khuyến mãi 4</h3></td></tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_4_show">Hiển thị</label></td>
                        <td><input type="checkbox" name="greenweave_header_coupon_4_show" id="greenweave_header_coupon_4_show"></td>
                    </tr>                
                    <tr>
                        <td><label for="greenweave_header_coupon_4_img">Chọn icon</label>
                            <p>Kích thước:100x100 pixel</p>
                        </td>
                        <td><input type="file" name="greenweave_header_coupon_4_img.png" id="greenweave_header_coupon_4_img"/></td>
                    </tr>    
                    <tr>
                        <td><label for="greenweave_header_coupon_4_title">Mức giảm</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_4_title" id="greenweave_header_coupon_4_title"></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_4_text">Điều kiện</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_4_text" id="greenweave_header_coupon_4_text"></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_4_date"> Hạn sử dụng</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_4_date" id="greenweave_header_coupon_4_date"/></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_coupon_4_code">Mã khuyến mãi</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_coupon_4_code" id="greenweave_header_coupon_4_code"></td>
                    </tr>
                </table>
            </fieldset>
            <!-- Thiết lập live stream -->
            <fieldset>
                <legend>5. Thiết lập link livestream từ fanpage của bạn</legend>
                <table>
                    <tr>
                        <td><label for="greenweave_header_live_show">Hiển thị?</label></td>
                        <td><input type="checkbox" id="greenweave_header_live_show" name="greenweave_header_live_show"/></td>
                    </tr>
                    <tr>
                        <th><label for="greenweave_header_live_color">Màu chữ</label></th>
                        <td><input  name="greenweave_header_live_color" id="greenweave_header_live_color" class="color"/></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_live_txt">Tiêu đề</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_header_live_txt" id="greenweave_header_live_txt"/></td>
                    </tr>
                    <tr>
                        <td><label for="greenweave_header_live_code">Nhúng mã</label></td>
                        <td class="min-width-320px"><textarea  rows="4" cols="50" id="greenweave_header_live_code" name="greenweave_header_live_code" class="text long" style="margin: 0px; height: 93px; width: 200px;" ></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p><strong>Hướng dẫn cách nhúng video từ Facebook: </strong></p>
                            <p>1. Mở Facebook trên máy tính -&gt; Đi đến video bạn muốn nhúng</p>
                            <p>2. Nhấp vào icon 3 chấm bên phải video và chọn <strong>Nhúng</strong>. Lưu ý rằng bạn sẽ chỉ thấy tùy chọn này nếu đối tượng xem video là <strong>Công khai.</strong></p>
                            <p>3. Sao chép mã hiển thị rồi dán vào mục trên.</p>
                            <p><strong>Chú ý: </strong>Nếu bạn nhúng video nhưng đối tượng xem video không còn là <strong>Công khai</strong>, trang web sẽ hiển thị tin nhắn cho biết video nhúng không còn ở đó nữa.</p>
                        </td>
                    </tr>
                </table>
                <p>
                    <img src="https://file.hstatic.net/200000515957/file/fb-share_555aa464903a431f8ee4882c80ecea73.jpg" width="80%">
                </p>
            </fieldset>
      <fieldset>
              <legend>6. Tính năng mua hàng</legend>
              <table>
                  <tr><td><label>Sử dụng?</label></td><td><input name="greenweave_shop_buying" type="checkbox" value="1"></td></tr>
              </table>
          </fieldset>
            <fieldset>
                <legend>7. Thiết lập mini cart</legend>
                <table>
                    <tr><td colspan="2"><h3>Link quay trở về khi giỏ hàng rỗng</h3></td></tr>
                    <tr>
                        <td><label>Tên đường dẫn</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_mini_cart_name"/></td>
                    </tr>
                    <tr>
                        <td><label>Đường dẫn</label></td>
                        <td class="min-width-320px"><input type="text" name="greenweave_mini_cart_linkreturn" value="/collections/all"/></td>
                    </tr>
                </table>
            </fieldset>
      <fieldset>
              <legend>8. Google Translate</legend>
              <table>
                  <tr><td><label>Sử dụng?</label></td><td><input name="greenweave_shop_google_translate" type="checkbox" value="1"></td></tr>
              </table>
          </fieldset>
        </p>
    </p>
</fieldset>   